*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    background-color: rgb(193, 138, 245);
    padding: 5px;
}
h2{
    text-align: center;
}
img{
    display: flex;
    justify-content: center;
    height: 350px;
    margin: auto;
    border: thick 1px black;
    border-radius: 200px;
}
.name{
    text-align: center;
    font-weight:bold;
    font-size:x-large;
    font-family: 'Times New Roman', Times, serif;
}
.main{
    display: flex;
    justify-content: center;
    align-content:flex-start;
    background-color: rgb(240, 172, 240);
    border: thick 1px black;
    padding: 30px;
    border-radius: 20px;
    margin: 30px 40px 10px;   
}
nav{
    display: flex;
    justify-content: center;
    background-color: rgb(248, 198, 105);
    padding:10px
}
.insta{
    height:3rem;
}
